<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">

    <script src="<%= mix('/js/manifest.js') %>"></script>
    <script src="<%= mix('/js/vendor.js') %>"></script>
    <script src="<%= mix('/js/app.js') %>"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
